<div
  *ngIf="showAlert"
  class="w-1/4 bg-green-100 border-t-4 border-green-500 rounded-b text-blue-900 px-4 py-3 shadow-md z-10 fixed top-15 left-0 right-0"
  role="alert"
>
  <div class="flex">
    <div class="py-1">
      <svg
        class="fill-current h-6 w-6 text-green-500 mr-4"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 20 20"
      >
        <path
          d="M2.293 9.293a1 1 0 0 1 0-1.414l4-4a1 1 0 0 1 1.414 0L10 7.586l2.293-2.293a1 1 0 0 1 1.414 0l4 4a1 1 0 0 1 0 1.414l-8 8a1 1 0 0 1-1.414 0l-8-8a1 1 0 0 1 0-1.414z"
        />
      </svg>
    </div>
    <div>
      <p class="font-bold">Product Added To Cart</p>
    </div>
  </div>
</div>

<div
  *ngIf="products"
  class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5"
>
  <div
    *ngFor="let product of products; let i = index"
    class="bg-white w-72 shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl"
  >
    <a href="#">
      <img
        [src]="product.Image"
        alt="{{ product.Name }}"
        class="h-60 w-72 object-cover rounded-t-xl"
      />
      <div class="px-4 py-3 w-72">
        <span class="text-gray-400 mr-3 uppercase text-xs">
          {{ product.Brand }}
        </span>
        <span class="text-red-400 mr-3 text-xs">
          {{ product.Weight }}
        </span>
        <p class="text-lg font-bold text-black truncate block capitalize">
          {{ product.Name }}
        </p>
        <div class="flex items-center">
          <p class="text-lg font-semibold text-black cursor-auto my-3">
            {{ product.Price }} ₹
          </p>
          <del> </del>
          <div class="ml-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-bag-plus"
              viewBox="0 0 16 16"
            ></svg>

            <div class="ml-auto">
              <ng-container
                *ngIf="
                  getCartItemQuantity(product.id) === 0;
                  else quantityControl
                "
              >
                <button
                  class="bg-orange-600 hover:bg-orange-500 text-white font-bold py-2 px-4 rounded"
                  (click)="addToCart($event, product.id)"
                >
                  Add to Cart
                </button>
              </ng-container>
            </div>

            <ng-template #quantityControl>
              <div class="flex items-center">
                <button
                  class="bg-orange-500 text-white font-bold py-2 px-4 rounded"
                  (click)="decrementQuantity($event, product.id)"
                >
                  -
                </button>
                <span class="font-bold mx-2">{{
                  getCartItemQuantity(product.id)
                }}</span>
                <button
                  class="bg-orange-500 text-white font-bold py-2 px-4 rounded"
                  (click)="increment($event, product.id)"
                >
                  +
                </button>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
